<!DOCTYPE html>
<html class="no-js" lang="zh-TW" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="profile" href="https://gmpg.org/xfn/11">
<title>assets/prettify.css </title>
<script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
 <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
</script>

<script>
googletag.cmd.push(function() {
googletag.defineSlot('/109765683/728_Banner', [728, 90], 'div-gpt-ad-1533118052929-0').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
});
</script>
<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
</script>

<script>
googletag.cmd.push(function() {
googletag.defineSlot('/109765683/300x250', [[300, 75], [300, 100], [300, 250]], 'div-gpt-ad-1533118295286-0').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
});
</script>
<link rel="canonical" href="https://itread01.com/" />
<style type="text/css">
img.wp-smiley,
img.emoji {
display: inline !important;
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important;
}
</style>
<link rel='stylesheet' id='hueman-main-style-css'href='/img/css/main.min.css' type='text/css' media='all' />
<style id='hueman-main-style-inline-css' type='text/css'>
body { font-family:'Source Sans Pro', Arial, sans-serif;font-size:1.00rem }@media only screen and (min-width: 720px) {
.nav > li { font-size:1.00rem; }
}::selection { background-color: #fca61b; }
::-moz-selection { background-color: #fca61b; }a,.themeform label .required,#flexslider-featured .flex-direction-nav .flex-next:hover,#flexslider-featured .flex-direction-nav .flex-prev:hover,.post-hover:hover .post-title a,.post-title a:hover,.sidebar.s1 .post-nav li a:hover i,.content .post-nav li a:hover i,.post-related a:hover,.sidebar.s1 .widget_rss ul li a,#footer .widget_rss ul li a,.sidebar.s1 .widget_calendar a,#footer .widget_calendar a,.sidebar.s1 .alx-tab .tab-item-category a,.sidebar.s1 .alx-posts .post-item-category a,.sidebar.s1 .alx-tab li:hover .tab-item-title a,.sidebar.s1 .alx-tab li:hover .tab-item-comment a,.sidebar.s1 .alx-posts li:hover .post-item-title a,#footer .alx-tab .tab-item-category a,#footer .alx-posts .post-item-category a,#footer .alx-tab li:hover .tab-item-title a,#footer .alx-tab li:hover .tab-item-comment a,#footer .alx-posts li:hover .post-item-title a,.comment-tabs li.active a,.comment-awaiting-moderation,.child-menu a:hover,.child-menu .current_page_item > a,.wp-pagenavi a{ color: #fca61b; }.themeform input[type="submit"],.themeform button[type="submit"],.sidebar.s1 .sidebar-top,.sidebar.s1 .sidebar-toggle,#flexslider-featured .flex-control-nav li a.flex-active,.post-tags a:hover,.sidebar.s1 .widget_calendar caption,#footer .widget_calendar caption,.author-bio .bio-avatar:after,.commentlist li.bypostauthor > .comment-body:after,.commentlist li.comment-author-admin > .comment-body:after{ background-color: #fca61b; }.post-format .format-container { border-color: #fca61b; }.sidebar.s1 .alx-tabs-nav li.active a,#footer .alx-tabs-nav li.active a,.comment-tabs li.active a,.wp-pagenavi a:hover,.wp-pagenavi a:active,.wp-pagenavi span.current{ border-bottom-color: #fca61b!important; }.sidebar.s2 .post-nav li a:hover i,
.sidebar.s2 .widget_rss ul li a,
.sidebar.s2 .widget_calendar a,
.sidebar.s2 .alx-tab .tab-item-category a,
.sidebar.s2 .alx-posts .post-item-category a,
.sidebar.s2 .alx-tab li:hover .tab-item-title a,
.sidebar.s2 .alx-tab li:hover .tab-item-comment a,
.sidebar.s2 .alx-posts li:hover .post-item-title a { color: #3bcfe2; }
.sidebar.s2 .sidebar-top,.sidebar.s2 .sidebar-toggle,.post-comments,.jp-play-bar,.jp-volume-bar-value,.sidebar.s2 .widget_calendar caption{ background-color: #3bcfe2; }.sidebar.s2 .alx-tabs-nav li.active a { border-bottom-color: #3bcfe2; }
.post-comments span:before { border-right-color: #3bcfe2; }
.search-expand,
#nav-topbar.nav-container { background-color: #303030}@media only screen and (min-width: 720px) {
#nav-topbar .nav ul { background-color: #303030; }
}.is-scrolled #header .nav-container.desktop-sticky,
.is-scrolled #header .search-expand { background-color: #303030; background-color: rgba(48,48,48,0.90) }.is-scrolled .topbar-transparent #nav-topbar.desktop-sticky .nav ul { background-color: #303030; background-color: rgba(48,48,48,0.95) }#header { background-color: #363944; }
.post-title a{color:#333; font-family:"Microsoft JhengHei,微軟正黑體,arial,sans-serif,Verdana"; font-size:24px; }
@media only screen and (min-width: 720px) {
#nav-header .nav ul { background-color: #363944; }
}
.is-scrolled #header #nav-mobile { background-color: #454e5c; background-color: rgba(69,78,92,0.90) }body { background-color: #eaeaea; }

.pagination { display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px; }
 .selected { background:#666}
.pagination li { display: inline; }
.pagination li a { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.428571429; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.pagination li:first-child a { margin-left: 0; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
.pagination li:last-child a { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pagination li a:hover, .pagination li a:focus { background-color: #eee; }
.pagination .active a, .pagination .active a:hover, .pagination .active a:focus { z-index: 2; color: #fff; cursor: default; background-color: #428bca; border-color: #428bca; }
.pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus { color: #999; cursor: not-allowed; background-color: #fff; border-color: #ddd; }
.pagination-lg li a { padding: 10px 16px; font-size: 18px; }
.pagination-sm li a, .pagination-sm li span { padding: 5px 10px; font-size: 12px; }
</style>
<link rel='stylesheet' id='hueman-font-awesome-css'href='/img/css/font-awesome.min.css' type='text/css' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var monsterinsights_frontend = {"js_events_tracking":"true","is_debug_mode":"false","download_extensions":"","inbound_paths":"","home_url":"https:\/\/hkitblog.com","track_download_as":"event","internal_label":"int","hash_tracking":"false"};
/* ]]> */
</script>
<script type='text/javascript' src='/img/css/js/jquery.js'></script>
<script type='text/javascript' src='/img/css/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/img/css/js/jquery.flexslider.min.js'></script>
<meta name="generator" content="WordPress 4.8.2" />
<style data-context="foundation-flickity-css">/*! Flickity v2.0.2
http://flickity.metafizzy.co
---------------------------------------------- */.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:#fff;background:hsla(0,0%,100%,.75);cursor:pointer;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:#fff}.flickity-prev-next-button:focus{outline:0;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{opacity:.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{opacity:.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{opacity:1}</style><style data-context="foundation-slideout-css">.slideout-menu{position:fixed;left:0;top:0;bottom:0;right:auto;z-index:0;width:256px;overflow-y:auto;-webkit-overflow-scrolling:touch;display:none}.slideout-menu.pushit-right{left:auto;right:0}.slideout-panel{position:relative;z-index:1;will-change:transform}.slideout-open,.slideout-open .slideout-panel,.slideout-open body{overflow:hidden}.slideout-open .slideout-menu{display:block}.pushit{display:none}</style><!--[if lt IE 9]>
<script src="css/js/html5shiv-printshiv.min.js"></script>
<script src="css/js/selectivizr.js"></script>
<![endif]-->
<style type="text/css">
.si_captcha_small { width:175px; height:45px; padding-top:10px; padding-bottom:10px; }
.si_captcha_large { width:250px; height:60px; padding-top:10px; padding-bottom:10px; }
img#si_image_com { border-style:none; margin:0; padding-right:5px; float:left; }
img#si_image_reg { border-style:none; margin:0; padding-right:5px; float:left; }
img#si_image_log { border-style:none; margin:0; padding-right:5px; float:left; }
img#si_image_side_login { border-style:none; margin:0; padding-right:5px; float:left; }
img#si_image_checkout { border-style:none; margin:0; padding-right:5px; float:left; }
img#si_image_jetpack { border-style:none; margin:0; padding-right:5px; float:left; }
img#si_image_bbpress_topic { border-style:none; margin:0; padding-right:5px; float:left; }
.si_captcha_refresh { border-style:none; margin:0; vertical-align:bottom; }
div#si_captcha_input { display:block; padding-top:15px; padding-bottom:5px; }
label#si_captcha_code_label { margin:0; }
input#si_captcha_code_input { width:65px; }
p#si_captcha_code_p { clear: left; padding-top:10px; }
.si-captcha-jetpack-error { color:#DC3232; }
</style>
<!-- end SI CAPTCHA Anti-Spam - login/register form style -->
<style>.ios7.web-app-mode.has-fixed header{ background-color: rgba(45,53,63,.88);}</style></head>
<body data-rsssl=1 class="post-template-default single single-post postid-43193 single-format-standard wp-custom-logo col-2cl full-width topbar-enabled header-desktop-sticky header-mobile-sticky chrome">
<div id="wrapper">
<header id="header" class="specific-mobile-menu-on one-mobile-menu mobile_menu header-ads-desktop header-ads-mobile topbar-transparent no-header-img">
<nav class="nav-container group mobile-menu mobile-sticky " id="nav-mobile" data-menu-id="header-1">
<div class="mobile-title-logo-in-header"><p class="site-title"><a class="custom-logo-link" href="https://www.itread01.com/" rel="home" title="首頁"><img src="https://www.itread01.com/logo.png"></a></p>
</div>
<div class="ham__navbar-toggler-two collapsed" title="Menu" aria-expanded="false">
<div class="ham__navbar-span-wrapper">
<span class="line line-1"></span>
<span class="line line-2"></span>
<span class="line line-3"></span>
</div>
</div>

<div class="nav-text"></div>
<div class="nav-wrap container">
<ul class="nav container-inner group mobile-search">
<li>
<form class="searchform themeform" onSubmit="return searchKw(this)">
<div>
<input type="text" name="kw" class="search" onBlur="if(this.value=='')this.value='輸入關鍵字後搜尋';" onFocus="if(this.value=='輸入關鍵字後搜尋')this.value='';" value="輸入關鍵字後搜尋" />
</div>
</form>
<script>function searchKw(c){var b=c.getElementsByTagName("input")[0],a=b.value.replace(/^\s+|\s+$/g,"");a=a.replace(/['"]/g,"");location.href="https://www.itread01.com/search/"+encodeURIComponent(a)+"";return false};</script></li>
</ul>
<ul id="menu-top" class="nav container-inner group">
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="/">首頁</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="https://www.itread01.com/%E7%A7%91%E6%8A%80/">科技</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="https://www.itread01.com/info/">程式語言</a></li>
 
</ul></div>
</nav><!--/#nav-topbar-->
<nav class="nav-container group desktop-menu desktop-sticky " id="nav-topbar" data-menu-id="header-2">
<div class="nav-text"></div>
<div class="topbar-toggle-down">
<i class="fas fa-angle-double-down" aria-hidden="true" data-toggle="down" title="展開功能表清單"></i>
<i class="fas fa-angle-double-up" aria-hidden="true" data-toggle="up" title="折疊功能表清單"></i>
</div>
<div class="nav-wrap container">
<ul id="menu-footer" class="nav container-inner group"> 
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="https://www.itread01.com/" rel="nofollow">首頁</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/study/mysql-tutorial.html">MySQL教學</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/t/網站技巧/1/">網站技巧</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/t/網路程式設計/1/">網路程式設計</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/t/軟體程式設計/1/">軟體程式設計</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/t/資料庫/1/">資料庫</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/t/作業系統/1/">作業系統</a></li>
<li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="/t/指令碼專欄/1/">其它</a></li>
 
</ul></div>
<div id="topbar-header-search" class="container">
<div class="container-inner">
<div class="toggle-search"><i class="fas fa-search"></i></div>
<div class="search-expand">
<div class="search-expand-inner"><form class="searchform themeform" onSubmit="return searchKw(this)">
<div>
<input type="text" class="search" name="kw" onBlur="if(this.value=='')this.value='輸入關鍵字後搜尋';" onFocus="if(this.value=='輸入關鍵字後搜尋')this.value='';" value="輸入關鍵字後搜尋" />
</div>
</form></div>
</div>
</div><!--/.container-inner-->
</div><!--/.container-->

</nav><!--/#nav-topbar-->
<div class="container group">
<div class="container-inner">

<div class="group pad central-header-zone">
<div class="logo-tagline-group">
<p class="site-title"><a class="custom-logo-link" href="https://www.itread01.com/" rel="home" ><img src="https://www.itread01.com/logo.png"></a></p>
</div>

<div id="header-widgets">
<div id="custom_html-2" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><!-- /109765683/728_Banner -->
<div id='div-gpt-ad-1533118052929-0' style='height:90px; width:728px;'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1533118052929-0'); });
</script>
</div></div></div></div><!--/#header-ads-->
</div>
<nav class="nav-container group desktop-menu " id="nav-header" data-menu-id="header-3">
<div class="nav-text"><!-- put your mobile menu text here --></div>
<div class="nav-wrap container">
<ul id="menu-top-1" class="nav container-inner group">
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="/">首頁</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="https://www.itread01.com/%E7%A7%91%E6%8A%80/">科技</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="https://www.itread01.com/info/">程式語言</a></li>
</ul></div>
</nav><!--/#nav-header-->
</div><!--/.container-inner-->
</div><!--/.container-->
</header><!--/#header-->
<div class="container" id="page">
<div class="container-inner">
<div class="main">
<div class="main-inner group">

<section class="content">
<div class="page-title pad group">
<h2><span class="hu-blog-subheading">assets/prettify.css</span></h2>

</div><!--/.page-title-->
<div class="pad group">
<div id="grid-wrapper" class="post-list-standard">
<article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/hkppqpq.html"><img class="lazyload" src="https://images.itread01.com/20181218/77e800e098307bc53551b5fb0f8d3851.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/hkppqpq.html">驗證碼前端效能分析及優化實踐</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag"></a></p>
<p class="post-date"><time class="published updated" >2018-12-18 07:39:15</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 

 點選上方藍字關注騰訊防水牆 
 瞭解第一手企業安全資訊 
 /  /  /  /  /  /  /  /  /  /  /   
 在越來越注重使用者體驗的趨勢下，驗證碼作為一種自打誕生以來就被貼上“</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/hkppyqe.html"><img class="lazyload" src="https://images.itread01.com/20181218/b939ba214f4ea9a462f8dc1daa7de676.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/hkppyqe.html">CSS 與 JS 動畫的底層機制 + 如何優化它們的效能</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">眾成翻譯</a></p>
<p class="post-date"><time class="published updated" >2018-12-18 03:12:22</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
這是致力於探索 JavaScript 及其元件的系列文章中的第 13 篇。在找尋與介紹這些核心元件的過程中，我們也分享了我們在開發 SessionStack 時的一些規則（SessionStack 是一個用來</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/hkppyyc.html"><img class="lazyload" src="https://images.itread01.com/20181217/8002e7e8a169bcaaa4edb92f47aaca0c.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/hkppyyc.html">周知：CSS -webkit-偽元素選擇器不再導致整行無效</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">張鑫旭</a></p>
<p class="post-date"><time class="published updated" >2018-12-17 23:51:05</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
byzhangxinxu from https://www.zhangxinxu.com/wordpress/?p=8300
 本文可全文轉載，個人網站無需授權，只要保留原作者、出處以及文中連結即可，任何</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/hkppffi.html"><img class="lazyload" src="https://images.itread01.com/20181217/074b097d88d5b7deac5e1d8af405a0a6.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/hkppffi.html">前端字型擷取</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">稀土掘金</a></p>
<p class="post-date"><time class="published updated" >2018-12-17 19:08:43</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
 編者按：本文作者李鬆峰，資深技術圖書譯者，翻譯出版過40餘部技術及互動設計專著，現任360奇舞團高階前端開發工程師，360前端技術委員會委員、W3C AC代表 
 為什麼要擷取字型？ 
 眾所周知，相對於英文字</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/hkpppel.html"><img class="lazyload" src="https://images.itread01.com/20181217/66586725bbe60e28af142c92baa8b2ef.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/hkpppel.html">三分鐘搞懂CSS 權重</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">稀土掘金</a></p>
<p class="post-date"><time class="published updated" >2018-12-17 11:03:59</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
 切圖時是不是經常性的寫了樣式無效呢？ 半死不得其解吧 

 為什麼自己的樣式老是被抵掉了呢？ 為什麼老是用important 來搞事呢？ 

 我猜應該是CSS權重問題，沒有理解透徹吧 
 下來</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xxixe.html"><img class="lazyload" src="https://www.itread01.com/images/no.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xxixe.html">css BEM書寫規範</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">稀土掘金</a></p>
<p class="post-date"><time class="published updated" >2018-12-17 11:13:21</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p>
BEM是基于组件的web开发方法。其思想是将用户界面分隔为独立的块，从而使开发复杂的UI界面变得更简单和快，且不需要粘贴复制便可复用现有代码。
BEM由Block、Element、Modifier组成。
选择器</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xxqxy.html"><img class="lazyload" src="https://images.itread01.com/20181216/faaa99c80d15a1027a47471472c4c97a.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xxqxy.html">(14/24) css進階：（入門）消除未使用的css</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">部落格園精華區</a></p>
<p class="post-date"><time class="published updated" >2018-12-16 23:02:00</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
在平時的專案開發中，我們會引入一些框架，比如： Bootstrap ，但是在專案中通常我們只使用它的一小部分，還有部分是冗餘的。更有甚有時候需求更改，帶來 DOM 結構的更改，這時候我們可能無暇關注 CSS </p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xxqchk.html"><img class="lazyload" src="https://images.itread01.com/20181217/8aff7b2f39f3026e4c8e8cec4b13b4b8.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xxqchk.html">css中的visibility和position新屬性sticky</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">Haorooms</a></p>
<p class="post-date"><time class="published updated" >2018-12-17 00:22:56</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
 前言 
今天介紹的css的visibility和position新屬性sticky，之前的文章中並沒有提及。關於css文章，前面寫了不少。但是這2個的介紹真沒有，今天簡單介紹一下，就當是補充和積累了吧。</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xxefi.html"><img class="lazyload" src="https://www.itread01.com/images/no.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xxefi.html">HTML學習筆記</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">部落格園精華區</a></p>
<p class="post-date"><time class="published updated" >2018-12-15 23:56:00</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p>
1)       結構標籤&lt;html&gt;;&lt;body&gt;;&lt;head&gt;;&lt;title&gt;&lt;title&gt;——標題
2)       防亂碼標籤&lt;me</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xxciy.html"><img class="lazyload" src="https://www.itread01.com/images/no.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xxciy.html">前端技術演進（八）：未來前端趨勢</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">稀土掘金</a></p>
<p class="post-date"><time class="published updated" >2018-12-16 02:14:04</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p>

這個來自之前做的培訓，刪減了一些業務相關的，參考了很多資料（參考資料列表），謝謝前輩們，麼麼噠 :kissing_heart:
就前端主流技術框架的發展而言，過去幾年發展極快，在填補了原有技術框架空白</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xiyhkq.html"><img class="lazyload" src="https://images.itread01.com/20181214/8ac50b3a7b48a34de94838ed66880402.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xiyhkq.html">Vue 2.0學習筆記：Vue的animation</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">W3CPlus</a></p>
<p class="post-date"><time class="published updated" >2018-12-14 23:56:31</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
上一節我們學習了Vue 2.0中的 &lt;transition&gt; 實現元素從狀態 A 到狀態 B 的過渡效果。對於元素過渡的效果是通過CSS的 transition 來完成，具體什麼時候執行是由Vue</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xieey.html"><img class="lazyload" src="https://www.itread01.com/images/no.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xieey.html">前端學習路線記錄</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">簡書</a></p>
<p class="post-date"><time class="published updated" >2018-12-14 18:51:34</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p>
專案需要，前端轉型，人手不夠，開始不足一個月的前端學習，完成Vue的開發。現在總結一下學習記錄。
HTML5

重敲了一遍w3school
上的所有例子。理解HTML基本語法規範</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xqifl.html"><img class="lazyload" src="https://www.itread01.com/images/no.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xqifl.html">Vue webpack打包後，css樣式發生改變或不起作用</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">簡書</a></p>
<p class="post-date"><time class="published updated" >2018-12-13 21:12:09</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p>
用run dev build打包後，發現樣式改變了，最終發現addAdress.vue和myAdress.vue中的有個類名是相同的，但是想著
&lt;stylescoped&gt;
&lt;/</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xqcii.html"><img class="lazyload" src="https://images.itread01.com/20181212/4c96685761de4d6b9a098f9e5d31540e.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xqcii.html">提升你的 CSS 選擇器技能</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">WEB前端開發</a></p>
<p class="post-date"><time class="published updated" >2018-12-12 20:52:10</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 


小編推薦： 掘金是一個面向程式員的高質量技術社群，從 一線大廠經驗分享到前端開發最佳實踐，無論是入門還是進階，來掘金你不會錯過前端開發的任何一個技術乾貨。
 我已經使用CSS多年了，但</p>
</div>
</div>
</div>
</article>
 <article id="post-43193" class="group post-standard grid-item post-43193 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-stripe tag-32305 tag-32306 tag-4550 tag-5237 tag-31545 tag-6260">
 <div class="post-inner post-hover">
<div class="post-thumbnail"><a href="/xqcil.html"><img class="lazyload" src="https://images.itread01.com/20181212/ebb653e16889d7a8e9fbb8e9fc413375.jpg"> </a></div>

<div class="post-content">
<h2 class="post-title entry-title"><a href="/xqcil.html">CSS float的相關圖文詳解（一）</a></h2>
<div class="post-meta group">
<p class="post-category"><a href="" rel="category tag">部落格園精華區</a></p>
<p class="post-date"><time class="published updated" >2018-12-12 21:33:00</time></p> 
</div>
<div class="entry excerpt entry-summary">
<p> 
 大家好，作為一個剛入門的小前端，第一次寫部落格，很是雞凍。由於涉獵較淺，有些知識可能說的不清楚，或者有什麼錯誤，歡迎留言指正。我的第一篇部落格寫的關於css的浮動的。想必很多小夥伴特別是剛學的，對浮動有一定的迷</p>
</div>
</div>
</div>
</article>
 </div>

<nav class="pagination group">
<ul class="group">
<ul class="yiiPager clearfix" id="yw0"><li class="first hidden"><a href="/assets%2Fprettify.css/">&lt;&lt; First</a></li>
<li class="previous hidden"><a href="/assets%2Fprettify.css/">&lt; Previous</a></li>
<li class="page selected"><a href="/assets%2Fprettify.css/">1</a></li>
<li class="page"><a href="/assets%2Fprettify.css/2/">2</a></li>
<li class="page"><a href="/assets%2Fprettify.css/3/">3</a></li>
<li class="page"><a href="/assets%2Fprettify.css/4/">4</a></li>
<li class="page"><a href="/assets%2Fprettify.css/5/">5</a></li>
<li class="page"><a href="/assets%2Fprettify.css/6/">6</a></li>
<li class="page"><a href="/assets%2Fprettify.css/7/">7</a></li>
<li class="page"><a href="/assets%2Fprettify.css/8/">8</a></li>
<li class="page"><a href="/assets%2Fprettify.css/9/">9</a></li>
<li class="page"><a href="/assets%2Fprettify.css/10/">10</a></li>
<li class="next"><a href="/assets%2Fprettify.css/2/">Next &gt;</a></li>
<li class="last"><a href="/assets%2Fprettify.css/19/">Last &gt;&gt;</a></li></ul></ul>
</nav><!--/.pagination-->

</div><!--/.pad-->
</section><!--/.content-->


<div class="sidebar s1 collapsed" data-position="right" data-layout="col-2cl" data-sb-id="s1">

<a class="sidebar-toggle" title="延伸側邊欄位"><i class="fas icon-sidebar-toggle"></i></a>

<div class="sidebar-content">

<div class="sidebar-top group">
<p>贊助商廣告</p>

</div>



<div id="custom_html-3" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><script type='text/javascript' src='/js/auto.js'></script>
</div></div> 
<div id="alxtabs-2" class="widget widget_hu_tabs">
<ul class="alx-tabs-nav group tab-count-3"><li class="alx-tab tab-recent"><a href="#tab-recent-2" title="熱門文章"><i class="far fa-clock"></i></a></li><li class="alx-tab tab-tags"><a href="#tab-tags-2" title="標籤"><i class="fas fa-star"></i> </a></li></ul>
<div class="alx-tabs-container">
<ul id="tab-recent-2" class="alx-tab group">
<li>
<div class="tab-item-inner group">
<p class="tab-item-category"><a href="" rel="category tag">最新資訊</a></p><p class="tab-item-title"><a href="" rel="bookmark" title="港人漸趨手機網購 商家應如何抓緊機遇">港人漸趨手機網購 商家應如何抓緊機遇</a></p>
<p class="tab-item-date">26 七月, 2018</p></div>

</li> 
</ul><!--/.alx-tab-->

<ul id="tab-tags-2" class="alx-tab group">
<li>
<a href="https://www.itread01.com/android/" class="tag-cloud-link tag-link-9 tag-link-position-1" style="font-size: 12.15625pt;">Android</a> </li>
</ul><!--/.alx-tab-->

</div>
</div>
</div><!--/.sidebar-content-->

</div><!--/.sidebar-->

</div><!--/.main-inner-->
</div><!--/.main-->
</div><!--/.container-inner-->
</div><!--/.container-->
<footer id="footer">
<nav class="nav-container group" id="nav-footer" data-menu-id="footer-4" data-menu-scrollable="false">
<!-- <div class="ham__navbar-toggler collapsed" aria-expanded="false">
<div class="ham__navbar-span-wrapper">
<span class="ham-toggler-menu__span"></span>
</div>
</div> -->
<div class="ham__navbar-toggler-two collapsed" title="Menu" aria-expanded="false">
<div class="ham__navbar-span-wrapper">
<span class="line line-1"></span>
<span class="line line-2"></span>
<span class="line line-3"></span>
</div>
</div>
<div class="nav-text"></div>
<div class="nav-wrap">
<ul id="menu-top-2" class="nav container group">
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-290"><a href="/" rel="nofollow">首頁</a></li>
 
</ul></div>
</nav><!--/#nav-footer-->

<section class="container" id="footer-bottom">
<div class="container-inner">

<a id="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>

<div class="pad group">

<div class="grid one-half">

<div id="copyright">
<p>ITREAD01.COM &copy; 2018. 版權所有。 </p>
</div><!--/#copyright-->
</div>
</div><!--/.pad-->

</div><!--/.container-inner-->
</section><!--/.container-->

</footer><!--/#footer-->

</div><!--/#wrapper-->

<!-- Powered by WPtouch: 4.3.27 --><script type='text/javascript' src='/img/css/js/jQuerySharrre.min.js?ver=4.8.2'></script>
<script type='text/javascript' src='/img/css/js/underscore.min.js?ver=1.8.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var HUParams = {"_disabled":[],"SmoothScroll":{"Enabled":true,"Options":{"touchpadSupport":false}},"centerAllImg":"1","timerOnScrollAllBrowsers":"1","extLinksStyle":"1","extLinksTargetExt":"1","extLinksSkipSelectors":{"classes":["btn","button"],"ids":[]},"imgSmartLoadEnabled":"","imgSmartLoadOpts":{"parentSelectors":[".container .content",".container .sidebar","#footer","#header-widgets"],"opts":{"excludeImg":[".tc-holder-img"],"fadeIn_options":100}},"goldenRatio":"1.618","gridGoldenRatioLimit":"350","sbStickyUserSettings":{"desktop":true,"mobile":false},"isWPMobile":"","menuStickyUserSettings":{"desktop":"stick_up","mobile":"stick_up"},"isDevMode":"","ajaxUrl":"https:\/\/www.itread01.com\/?huajax=1","frontNonce":{"id":"HuFrontNonce","handle":"d9125fec3b"},"userStarted":{"with":"with|3.3.27","on":{"date":"2018-03-27 03:41:18.000000","timezone_type":3,"timezone":"UTC"}},"isWelcomeNoteOn":"","welcomeContent":""};
/* ]]> */
</script>
<script type='text/javascript' src='/img/css/js/scripts.min.js?ver=3.3.27'></script>
<script type='text/javascript' src='/img/css/js/wp-embed.min.js?ver=4.8.2'></script>
<script type='text/javascript' src='/js/c.js'></script>
<!--[if lt IE 9]>
<script src="/img/css/js/respond.js"></script>
<![endif]-->
<div style="display:none">1547529213.5883</div>
</body>
</html>